@keyframes spinner-fade {
  0% {
    opacity: 0.15;
  }
  100% {
    opacity: 1;
  }
}

.bar {
  position: absolute;
  height: 8%;
  width: 24%;
  left: -10%;
  top: -3.9%;
  border-radius: 5px;
  animation: spinner-fade 1.2s linear infinite;
}
